<nav model="header" class="header-nav navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand p-2" href="{% link index.html %}">
            <strong class="color_royal_blue logo_text">{{ site.title }}</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="#"><i class="link_point bg_dodger_blue"></i> 有感</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="#"><i class="link_point bg_orange"></i> 兴趣笔记</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="#"><i class="link_point bg_medium_sg"></i> 图像</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="#"><i class="link_point bg_gold"></i> 讨论组</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
